body {
    font-family: "Montserrat", serif;
    background: #f1f1f1;
}
.MuiBadge-badge {
    background: #ff5252 !important;
}

.text-primary {
    color: #3872fa !important;

}
.hovertext-primary:hover {
    color: #3872fa !important;
}

.bg-primary{
    background: #3872fa !important;
}

.ReactCollapse--collapse {
    transition: height 300ms;
}

::-webkit-scrollbar{
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-thumb{
    background: #ccc !important;
}

.btn{
    padding:8px 20px !important;
}
.btn svg{
    font-size: 20px;
}
.btn-blue{
    background: #3872fa !important;
    color: white !important;
    padding: 8px 20px !important;
}

.btn-blue:hover{
    background: #3067e5 !important;
}
.btn-sm{
    padding:6px 20px !important;
    font-size: 13px !important
}
.btn-lg{
    padding:8px 20px !important;
    font-size: 16px !important;
}

th.MuiTableCell-root{
    @apply bg-[#f1f1f1];
    padding-top: 4px!important;
    padding-bottom: 4px!important;
} 

a.active button{
    background: #c7c7c7ac !important;
}

.MuiButton-icon svg{
    font-size: 27px !important;
}
.css-rizt0-MuiTypography-root{
    font-size: 14px !important;
}

.MuiAppBar-colorPrimary{
    background-color: #e6e6e6 !important; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.MuiSelect-select{
   background: #fff !important;
}

.MuiDialog-paper{
    background: #f9fafb !important;
}

.otpBox input{
    border: 1px solid rgba(0,0,0,0.3) !important;
    outline: none !important;
    border-radius:4px;
}
.otpBox input:focus{
    border: 1px solid rgba(0,0,0,0.7) !important;
}
.otpPage .container{
    height: 90vh;
    display: flex;
}

.MuiTableBody-root tr:nth-child(even){
     background: #f9f9f9 !important;
}

input[type="text"]:disabled, input[type="email"]:disabled {
    pointer-events: none;
    background: #f1f1f1 !important;
}

.react-international-phone-input {
    width: 84% !important;
}
.react-international-phone-country-selector-button {
    width: 55px !important;
}
/* .react-international-phone-input-container {
    border: 1px solid rgba(0,0,0,0.1) !important;
} */

.Mui-focused fieldset legend {
    display: none !important;
}

.zoomProductSliderThumbs.space .swiper-wrapper {
    padding-top: 38px !important;
}
.zoomProductSliderThumbs .swiper-slide {
    height: 80px !important;
    overflow: hidden !important;
    border-radius: 5px !important;
}
.zoomProductSliderThumbs .swiper-button-next{
    bottom: 0px !important;
    left: 11px !important;
    width: 100% !important;
    height: 30px !important;
    background: rgb(255, 255, 255, 0.6) !important;
    border-radius: 0px !important;
}

.zoomProductSliderThumbs .swiper-button-prev{
    top: 0px !important;
    left: 11px !important;
    width: 100% !important;
    height: 30px !important;
    background: rgb(255, 255, 255, 0.6) !important;
    border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-prev::after, .zoomProductSliderThumbs .swiper-button-next::after {
    font-size: 18px !important;
    color: #ab2828 !important;
}

.zoomProductSliderThumbs .swiper-button-prev:hover, .zoomProductSliderThumbs .swiper-button-next:hover{
    background: #ff5252 !important;
}
.swiper-slide .iiz {
    height: 400px !important;
    overflow: hidden !important;
}

.swiper-button-prev, .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    padding: 7px;
    width: 35px;
    height: 35px !important;
    min-width: 35px;
    box-shadow: 0, 1px 3px #0000001f, 1 1px 2px #0000003d !important;
    --swiper-navigation-color: #000 !important;
    --swiper-navigation-size: 22px !important;
    color: #000 !important;
};

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 22px !important;
    color: #000 !important;
}

.smalBtn .swiper-button-prev, .smalBtn .swiper-button-next   {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    top: 55% !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 22px !important;
    color: #000;
}

.swiper-button-prev, .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    padding: 7px;
    width: 35px;
    height: 35px !important;
    min-width: 35px;
    box-shadow: 0, 1px 3px #0000001f, 1 1px 2px #0000003d !important;
    --swiper-navigation-color: #000 !important;
    --swiper-navigation-size: 22px !important;
    color: #000 !important;
};

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 22px !important;
    color: #000 !important;
}

.smalBtn .swiper-button-prev, .smalBtn .swiper-button-next   {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    top: 55% !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 22px !important;
    color: #000;
}
.iiz__img {
    height: 400px !important;
    width: 100% !important;
    margin-left: 10px !important;
}

.contentRight{ 
    padding-top: 70px !important;
}

.rsw-editor{min-height: 200px !important; background: #fff !important;}

.sidebar ul{padding-right: 5px !important;}
.sidebar ul::-webkit-scrollbar{width: 5px !important;}

.contentRight { padding-left: 20px !important;}

.uploadBox h4{ text-align: center;}