.homeSlider {
  width: 100%;
}

@media (max-width: 700px) {
  .homeSlider {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    position: relative !important;
  }
  .homeSlider .container {
    padding: 0 !important;
  }
  .homeSlider .flex {
    min-height: 80px !important;
    gap: 0.5rem !important;
  }
  .homeSlider svg {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }
}
