@import "tailwindcss";

*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0,0,0,0.9);
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important; 
}

::-webkit-scrollbar-thumb {
    background: #ff5252
}
::-webkit-scrollbar-track {
    background: #fff
}

.container {
    width: 95%;
    margin: auto;
}

.bg-primary{
    background: #ff5252 !important;
}

.text-primary{
    color: #ff5252 !important;
}

.btn-org{
    background: #ff5252 !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 20px !important;
}
.btn-org:hover{
    background: #171717 !important;
    color: #fff !important;
}

/* header .top-strip{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
} */

.bg-primary{
    background: #ff5252;
}
.link:hover{color: #ff5252;}

.MuiBadge-badge{background-color: #ff5252 !important;}

nav ul button{
    text-transform: capitalize !important;
}

nav ul button:hover{
    background-color: none !important;

}

.sliderHome {
    overflow: inherit !important;
};

.swiper-button-prev, .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    padding: 7px;
    width: 35px;
    height: 35px !important;
    min-width: 35px;
    box-shadow: 0, 1px 3px #0000001f, 1 1px 2px #0000003d !important;
    --swiper-navigation-color: #000 !important;
    --swiper-navigation-size: 22px !important;
    color: #000 !important;
};

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 22px !important;
    color: #000 !important;
}

.smalBtn .swiper-button-prev, .smalBtn .swiper-button-next   {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    top: 55% !important;
}

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 22px !important;
    color: #000;
}

.homeCatSlider .swiper-button-prev {
    width: 30px;
    height: 30px;
    min-width: 30px;
}
.homeCatSlider .swiper-button-next {
    width: 30px;
    height: 30px;
    min-width: 30px;
}

.homeCatSlider .swiper-button-prev::after{
    font-size: 18px !important;
}
.homeCatSlider .swiper-button-next::after{
    font-size: 18px !important;
}

.homeCatSlider .item:hover img{
    transform: scale(1.1);
}


.MuiTabs-indicator {
    background-color: #ff5252 !important;
}

.MuiTab-textColorPrimary.Mui-selected {
    color: #ff5252 !important;
}

.productsSlider .swiper-wrapper {
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
}

footer form input::placeholder {
    font-size: 14px;
}


.css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.Mui-checked, .css-vuhw6e-MuiButtonBase-root-MuiSwitchBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
    color: #ff5252!important;
}

.MuiFormControlLabel-label {
    font-size: 13px !important;
    color: rgba(0,0,0,0.8) !important;
}

.swiper-pagination-bullet-active {
    background: #ff5252 !important;
}

.HomeSliderV2 .swiper-slide-active .info {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .swiper-slide-active .info h4 {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .swiper-slide-active .info h3 {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .swiper-slide-active .info h2 {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .swiper-slide-active .info .btn {
    right: 0px !important;
    opacity: 1;
}

.HomeSliderV2 .info h4 {
    transition-duration: 1.2s;
}
.HomeSliderV2 .info h2 {
    transition-duration: 1.5s;
}
.HomeSliderV2 .info h3 {
    transition-duration: 1.8s;
}

.HomeSliderV2 .info .btn {
    transition-duration: 2s;
}

.MuiCheckbox-root{
    padding: 6px !important;
}

.ReactCollapse--collapse {
    transition: height 400ms;
}

.itemViewActions button.active svg{
    color: #ff5252 !important;
    opacity: 1;
}

.Mui-selected.MuiPaginationItem-page{
    background-color: #ff5252 !important;
    color: #fff !important;
}