@import "tailwindcss";

*{
    /* margin: 0; */
    /* padding: 0; */
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background: #f5f0f0;
    color: rgba(0,0,0,0.9);
    overflow-x: hidden;
}

.container {
    width: 95%;
    margin: auto;
}

/* header .top-strip{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
} */

.bg-primary{
    background: #ff5252;
}
.link:hover{color: #ff5252;}

.MuiBadge-badge{background-color: #ff5252 !important;}

nav ul button{
    text-transform: capitalize !important;
}

nav ul button:hover{
    background-color: none !important;

}

.sliderHome {
    overflow: inherit !important;
};

.swiper-button-prev, .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100%;
    width: 35px;
    height: 45px;
    min-width: 35px;
    box-shadow: 0, 1px 3px #0000001f, 1 1px 2px #0000003d !important;
    --swiper-navigation-color: #000 !important;
    --swiper-navigation-size: 22px !important;
    color: #000 !important;
};

.swiper-button-prev::after, .swiper-button-next::after {
    font-size: 22px !important;
    color: #000 !important;
}