@media only screen and (min-width: 320px) and (max-width: 922px) {
    html,body{
        overflow-x: hidden;
    }

    .mobileNav a.isActive button {
        color: #ff5252 !important;
    }

    .navigation ul{white-space: nowrap; overflow-x: scroll; overflow-y: hidden; display: block; -ms-overflow-style: none; text-align: center;  scrollbar-width: none;}
    .navigation ul li { display: inline-block !important; vertical-align: top !important; }

    .container{width: 95% !important; max-width: 95% !important;}



}