.catagoryPanel button {
    text-transform:  capitalize !important;
}

.nav li .submenu {
    visibility: hidden;
}
.nav li:hover .submenu {
    opacity: 1;
    visibility: inherit;
    top: 100%;
}
.nav li .submenu li:hover button {
    color: #ff5252 !important;
}


.nav li .submenu li .submenu {
    top: 0px !important;
    left: 120% !important;
    opacity: 0 !important;
}

.nav li .submenu li:hover .submenu {
    opacity: 1 !important;
    left: 100% !important;
}

.nav li .submenu li .submenu button{
    color: rgba(0,0,0,0.8) !important;
}

.nav li .submenu li:hover .submenu {
    color: #ff5252 !important;
}